<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class=" img-responsive portrait img-fluid rounded float-left" style=" border: 2px solid #39bbd7; border-radius: 8px; width: 200px;" src="/img/meee.png">
        <h1>Software Developer at <a href="https://tyfone.com/"  style="color: red;">Tyfone INC</a></h1>
    </div>
    
    {{>footer}}
</body>

</html>
