<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="img-responsive portrait" src="/img/meee.png"  style="width:400px;height: 300px;">
        <h1>Software Developer at <a href="https://tyfone.com/"  style="color: red;">Tyfone INC</a></h1>

    </div>
    
    {{>footer}}
</body>

</html>
